nav{
    border-radius: 0px;
}
.navbar-nav .nav-link {
    font-size: 35px;
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    padding: 0px 80px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    float: left;

}
.site-header .navbar-nav .nav-link {
    color: #333f0c 54% 44%;
}

.site-header {
    height: 60px;
    padding: 20px 0px;
    width: 110%;
    margin: 0;
}

.bg-steel {
    background-color: #737A5D;
}

body {
    background: #ececdc;
    color: #000000;
    margin-top: 0pt;
}
h1 {
    font-family: 'Courier New', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    color: #093d0d;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 0px;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.article-title {
    color: #000000;
}

.article-title:hover {
    color: #000000;
    text-decoration: none;
}

.article-content {
    white-space:pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #000000;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
