<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="site-header bg-steel">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/">Mājaslapa</a></li>
            <li><a class="nav-link" href="/page2">Mūsu dzīvnieki</a></li>
            <li><a class="nav-link" href="/panemtdzivnieku">Paņemt dzīvnieku</a></li>
            <li><a class="nav-link" href="<div class="navbar"><div class="dropdown"><button class="dropbtn">Kā mums palīdzēt?
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/ziedosana">Ziedošana</a>
                <a href="/klutparpartneri">Kļūt par dalībnieku</a>
              </div>
              <li><img src="{{ url_for('static', filename = 'PAW_Logo.png') }}" alt="AnimalCare" width="70" height="70"></li>
            </div>
          </div></a></li></div></a>
                
        </ul>
    </nav>
      <div class="newcontainer"> 
        <div class="new-container">
        <img src="{{ url_for('static', filename='cat1_02-1813x1811-720x719.jpg') }}" alt="Muris" width="450" height="450">
        <p><h1>Muris</h1></p>
        <p><h2>Eiropas īsspalvainais, 4 kg, 3 gadi</h2></p>
        <p><h2>Zēns mierīgs, spēlīgs. Ar visām potēšanām.</h2></p>
        </div>
      </div> 
</body>
</html>

