<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mājaslapa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <nav class="site-header bg-steel">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/">Mājaslapa</a></li>
            <li><a class="nav-link" href="/page2">Page2</a></li>
            <li><a class="nav-link" href=""></a></li>
        </ul>
    </nav>

  <main>
        <h1>Dzīvnieku patversme AnimalCare</h1>
        <p><h2>Pieņemam apmeklētājus katru dienu no 9:00 līdz 18:00.</h2></p>
    </main>

</body>
</html>
