<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kļut par dalībnieku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="site-header bg-steel">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/">Mājaslapa</a></li>
            <li><a class="nav-link" href="/page2">Mūsu dzīvnieki</a></li>
            <li><a class="nav-link" href="/panemtdzivnieku">Paņemt dzīvnieku</a></li>
            <li><a class="nav-link" href="<div class="navbar"><div class="dropdown"><button class="dropbtn">Kā mums palīdzēt?
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/ziedosana">Ziedošana</a>
                <a href="/klutparpartneri">Kļūt par dalībnieku</a>
              </div>
              <li><img src="{{ url_for('static', filename = 'PAW_Logo.png') }}" alt="AnimalCare" width="70" height="70"></li>
            </div>
          </div></a></li></div></a>
                  
        </ul>
    </nav>

    <main>
        <h1>Ja vēlāties pievienoties mūsu brīvprātīgo komandai, </h1>
          <p><h1>vai kļūt par partneri, aizpildiet zemāk esošo formu:</p></h1>
        <div class="Ncontainer">
            <div class="N-container">
              <form method="post">
                <label for="username">Vārds:</label>
                <input type="text" name="username" required>
                <br>
                <br>
                <label for="e-mail">E-mail:</label>
                <input type="e-mail" name="e-mail" required>
                <br>
                <br>
                <label for="password">Parole:</label>
                <input type="password" name="password" required>
                <br>
                <br>
                <button type="submit">Reģistrēties</button>
            </form>

            </div>
        </div>        
          
    </main>
 </body>
 </html>
