<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ziedošana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="site-header bg-steel">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/">Mājaslapa</a></li>
            <li><a class="nav-link" href="/page2">Mūsu dzīvnieki</a></li>
            <li><a class="nav-link" href="/panemtdzivnieku">Paņemt dzīvnieku</a></li>
            <li><a class="nav-link" href="<div class="navbar"><div class="dropdown"><button class="dropbtn">Kā mums palīdzēt?
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/ziedosana">Ziedošana</a>
                <a href="/klutparpartneri">Kļūt par dalībnieku</a>
              </div>
              <li><img src="{{ url_for('static', filename = 'PAW_Logo.png') }}" alt="AnimalCare" width="70" height="70"></li>
            </div>
          </div></a></li></div></a>
                  
        </ul>
    </nav>

    <main>
        <h1>Ar ko palīdzēt patversmei?</h1>
        <div class="container">
            <div class="my-container">
                <h1>Ja ir vēlme palīdzēt dzīvniekiem un patversmei, katram ir iespēja ziedot mantas, piemēram, segas, rotaļlietas, bļodiņas un tam līdzīgo, kā arī finansiāli atbalstīt patversmi. Var gan kā ziedot kopumā, gan arī konkrētam nolūkam, ko minēsiet vēstulē vai klātienē.</h1>
            </div>
            <div class="my-container2">
              <img src="{{ url_for('static', filename='donations_chart.png') }}" alt="Donations Chart">
            </div>
            <a href="/zied.csv">
              <button>Download CSV</button>
          </a>
        </div>        
          
    </main>
 </body>
 </html>
